.modal-content{
    position: absolute;
    z-index: 500;
    background-color: aliceblue;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    height: 350px;
} 
#openReview{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 50px;
}
ul.reviewsList{
    display: flex;
    flex-direction: row;
    list-style: none;   
}
.reviewList li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 10px auto;
    border-radius: 10px;
    width: 350px;
}
.reviewList p,h3{
     font-style: italic;
     font-size: x-small;
     margin: 10px 10px;
}
.carousel-inner {
    background-color: rgba(0, 0, 0, 0.226);
}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
#reviewModal form{
    display: flex;
    flex-direction: column;
}
#reviewModal input{
    margin: 10px auto;
    background-color: #ffff;
}
#reviewModal input:hover,
#reviewModal input:active{
    background-color: black;
    color: #ffff;
}
 #reviewModal.hide{
 transform: translate3d(-100vw, 0, 0);
}
#reviewModal.show{
 transform: translate3d(0vw, 0, 0);
  overflow: hidden;
} 
textarea{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
}
.closebtn{
    font-size: 1rem;
    font-weight: 800;
    background: transparent;
    border: none;
    width: 20px;
    margin: auto;
    box-shadow: none;
}
.closebtn:hover,
.closebtn:active{
    color: gold;
}
