div.modal-content>img{
    width: 100%;
    height: auto;
    margin: none;
}
div.modal-content{
    background: transparent;
    left: 5px;
    top: 5px;
}
div.modal-header{
    margin: none;
}
div.modal-dialog{
    position: unset;
}
div.modal-backdrop{
    background-color: #ca0d0d;
    background-size: 100vw;
}
div.modal-open.modal{
    overflow-y: scroll;
}
div.modal{
    overflow: visible;
}
@media screen and (min-width : 0px) and (max-width : 767px){
div.modal-content>img{
    min-width: 750px;
}
div.modal-backdrop{
    min-width: 800px;
}
.modal{
    min-width: 800px;
}
}
