#main{
    display: flex;
    justify-content: space-around;
    align-items: left;
    list-style: none;
    margin: 20px auto;
}
#main a:active,
#main a:hover{
    background-color: black;
    color: aliceblue;
    font-size: 0.5rem;
    font-weight: 800;
    list-style: none;
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
}
#main a{
    color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    padding: 20px 30px;
    background-color: #ffffff;
}
#main button{
  width: 10px;
  background-color: transparent;
  position: absolute;
  border: none;
  margin-left: -30px;
  cursor: pointer;
}
.fa.fa.search{
    margin-right: -200px;
}
@media screen and (min-width : 0px) and (max-width : 767px){
    
}
@media (max-width: 768px){
#main{
    display: none;
  }
}