.imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: none;
    justify-content: space-around;
    margin: 10px 30px;
}
div.imageList img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    padding: none;
    justify-content: space-around;
}
div>img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    padding: none;
    justify-content: space-around;
    margin: 10px 2px;
}
.close {
  color: #000000;
  cursor: pointer;
  font-size: 2rem;
  top: 100%;
  right: 10%;
}
.close:hover {
    color: #000000;
    border-radius: 100%;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
