
input{
  width: 200px;
  height: 40px;
  border: none;
  margin: 10px auto;
  border-radius: 10px;
}
.search{
  width: 200px;
  height: 40px;
  border: none;
  margin: 0 auto;
  background: transparent;
  box-shadow: transparent;
  
}
i {
    cursor: pointer;
}