.content {
  background-color: #ff4d4d;
  width: 500px;
}

.first-header {
  background-image: url('../Assets/The\ Mind\ Beyond2.jpg');
}

.second-header {
   background-image: url('../Assets/The\ Mind\ Beyond2.jpg');
}

.third-header {
   background-image: url('../Assets/The\ Mind\ Beyond2.jpg');
}

.fourth-header {
   background-image: url('../Assets/The\ Mind\ Beyond2.jpg');
}

.first-header, .second-header, .third-header, .fourth-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
