
.showproduct{
   background-color: #001799;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-self: start;
   padding: none;
   box-sizing: border-box;
}
.showproduct>form{
    width: 300px;
    margin: 10px 10px;
    padding: none;
}
form>input{
    margin: 10px 0;
    border-radius: 10px;
}
.showproduct span{
    color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    background-color: #ffffff;
    text-align: center;
    width: 130px;
}
.productList li{
    color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    background-color: #ffffff;
    background-size: contain;
    text-align: center;
    width: 130px;
    margin: 2px 5px;
    list-style: none;
    padding: 0%;
}
.showproduct span:hover,
.showproduct span:active{
    background-color: black;
    color: aliceblue;
    font-size: 0.5rem;
    font-weight: 800;
    list-style: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.productList{
    margin: none;
    padding: none;
}
h4{
    margin: 15px 5px;
}
#files, #submit{
    color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    background-color: #ffffff;
    text-align: center;
    width: 130px;
    margin: 20px 10px;
}
#stats {
    width: 350px;
    height: 380px;
    position: relative;
    margin: 10px 100px;
    background-color: white;
    background-size: cover;
    border-radius: 10px;
}

#red {
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
}
#blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100%;
    position: absolute;
    margin: 50px;
}
#yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
    position: absolute;
    margin: 100px;
}