
.showproduct{
  background-image: linear-gradient(to right, #00aeff , #12c1c7);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-self: start;
   padding: none;
   box-sizing: border-box;
   border-radius: 10px;
   margin: 0 20px;
} 
.showproduct>form{
    width: 300px;
    margin: 20px 50px;
    padding: none;
}
form>input{
    margin: 10px 0;
    border-radius: 10px;
}
.showproduct span{
    color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    background-color: #ffffff;
    text-align: center;
    width: 150px;
}
.productList li{
    color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    background-color: #ffffff;
    background-size: contain;
    text-align: center;
    width: 250px;
    margin: 2px 5px;
    list-style: none;
    padding: 0%;
}
.showproduct img{
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: auto;
    padding: 10px 30px;
    justify-content: space-around;
}
.showproduct span:hover,
.showproduct span:active{
    width: 150px;
    background-color: black;
    color: aliceblue;
    font-size: 0.5rem;
    font-weight: 800;
    list-style: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.productList{
    margin: none;
    padding: none;
}
h4{
    margin: 15px 5px;
}
#files, #submit{
    color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    background-color: #ffffff;
    text-align: center;
    width: 130px;
    margin: 20px 10px;
}
.stats{
    width: 50%;
    margin: 20px 50px;
}
button{
    border-radius: 10px;
    border: none;
    background: white;
     display: flex;
    margin: 10px auto;
}
button:hover,
button:active{
    background: black;
    color: white;
   
}