#flyoutMenu{
  height: 100%;
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
  background-color: #acacacce;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .6s 
    cubic-bezier(0, .52, 0, 1);
  overflow-wrap: normal;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#flyoutMenu.show{
  transform: translate3d( 0vw, 0, 0);
  overflow: hidden;
}
#flyoutMenu.hide {
  transform: translate3d(-120vw, 0, 0);
} 
#flyoutMenu li{
  list-style: none;
  margin: 0.5rem 0;
}
#flyoutMenu a{
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 0.3rem;
    border-radius: 10px;
    font-weight: 800;
    padding: 10px 35px;
    margin: auto;
}
#flyoutMenu a:hover,
#flyoutMenu a:active{
    background-color: black;
    color: aliceblue;
    font-size: 0.3rem;
    font-weight: 800;
    list-style: none;
    border-radius: 10px;
    padding: 10px 35px;
    text-decoration: none;
} 
