button.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  margin: 10px 10px;
}
button.toggle-button:hover,
button.toggle-button:active{
  background: transparent;
}
.toggle-button_line:hover,
.toggle-button_line:active{
  background: #0000;
}
.toggle-button:focus{
  outline: none;
}
.toggle-button_line{
  width: 30px;
  height: 3px;
  background: #ffffff;
}
.toggle-button_line>p{
  color: #ffffff;
  margin-left: 30px;
  margin-top: 0; 
  font-weight: 800;
}
@media (min-width: 769px){
  button.toggle-button{
    display: none;
  }
}

