body{
  background-color: aliceblue;
  background-size: contain;
}
#about,#portfolio,#contact,#home,#nature,#abstract,#portraits,#shop{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.star-frame{
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
}
.star-frame:hover,
.star-frame:active{
    color: gold;
}
.i-frame{
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    color: black;
    margin-top: -10px;
}
.i-frame:hover,
.i-frame:active{
   color: gold;
}
h1,p{
  margin: auto;
  color:black;
  text-align: center;
}
.react-slideshow-container{
  width: 500px;
  height: auto;
  margin: 10px 50px;
}
.each-slide h3{
  color: aliceblue;
  font-size: 1rem;
  text-align: left;
  margin: 10px auto;
}
.each-slide button{
  width: 100px;
  height: 30px;
  list-style: none;
  border-radius: none;
  align-content: flex-start;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  padding: 3px 5px;
  border: none;
  box-shadow: aliceblue;
}
.each-slide button:active,
.each-slide button:hover{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 3px 5px;
  color:aliceblue;
  background-color: black;
}
.card-title{
  text-align: center;
}
.wrapper{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 10px;
    padding: none;
    justify-content: space-around;
    margin: 10px 10px;
}
.wrapper img{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: auto;
    padding: 10px 30px;
    justify-content: space-around;
}
.list{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 10px 10px;
    justify-content: space-around;
    margin: 10px 10px;
}
.list img{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
    margin: auto;
}
div.item-desc{
  text-align: center;
}
ul.list{
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 0;
}
.list ul li{
  list-style: none;
}
.ui.collection li{
  list-style: none;
  text-align: center;
}
.ui.red.button{
  display: flex;
  margin: auto;
 }
#nature img{
  margin: auto;
}
#abstract img{
  margin: auto;
}
#portraits img{
  margin: auto;
}
.slide-container {
  width: 500px;
  margin: 0 auto; 
}

.each-slide > div {
  justify-content: center;
  background-size: cover;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  color: aliceblue;
}
.react-slideshow-container + div.indicators > .each-slideshow-indicator{
  display: none;
}
@media screen and (min-width : 0px) and (max-width : 767px){
.each-slide > div {
  justify-content: center;
  background-size: cover;
  width: 250px;
  height: 150px;
}
.react-slideshow-container{
  width: 250px;
  height: auto;
  margin: 10px 50px;
}
  }


