div.App {
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: start;
  padding: 20px 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: aliceblue;
}
h1,p{
  margin: 10px 50px;
  color:black;
  text-align: center;
}
.react-slideshow-container{
  width: 500px;
  height: auto;
  margin: 10px 50px;
}
.each-slide h3{
  color: aliceblue;
  font-size: 1rem;
  text-align: left;
  margin: 10px auto;
}
.each-slide button{
  width: 100px;
  height: 30px;
  list-style: none;
  border-radius: none;
  align-content: flex-start;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  padding: 3px 5px;
  border: none;
  box-shadow: aliceblue;
}
.each-slide button:active,
.each-slide button:hover{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 3px 5px;
  color:aliceblue;
  background-color: black;
}
#nature img{
  margin: auto;
}
.ui.cards{
  display: flex;
  flex-direction: row;
  margin: 10px 50px;
  padding: none;
}
.ui.cards>div.card{
  display: flex;
  width: 130px;
  border-bottom-right-radius: 50px;
}
.i-frame{
  cursor: pointer;
  position: absolute;
  margin-left: 110px;
  margin-top: 90px;
  text-align: center;
  color: black;
  font-weight: 100;
}
.star.outline.icon{
  margin-left: 110px;
  cursor: pointer;
}
.star.outline.icon:active{
  color: gold;
}
.i-frame:hover{
 background-color: #ffffff; 
  background-size: 30px;
}
#abstract img{
  margin: auto;
}
#portraits img{
  margin: auto;
}
.slide-container {
  width: 500px;
  margin: 0 auto; 
}

.each-slide > div {
  justify-content: center;
  background-size: cover;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  color: aliceblue;
}
.react-slideshow-container + div.indicators > .each-slideshow-indicator{
  display: none;
}
@media screen and (min-width : 0px) and (max-width : 767px){
.each-slide > div {
  justify-content: center;
  background-size: cover;
  width: 250px;
  height: 150px;
}
.react-slideshow-container{
  width: 250px;
  height: auto;
  margin: 10px 50px;
}
  }


